// bower:scss
// endbower

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}
.container { 
    height: 300px;
    overflow: scroll;
    background-color: blue;
}

.detail-container {
    min-width: 400px;
    min-height: 400px;
    background-color: gray;
}

.detail-img {
    height: 400px;
    margin:auto; 
    display:block;
}

.thumb-img {
    width: 300px;
    margin:auto; 
    display:block;

}

.thumb-bound {
    width: 3    00px;
    margin:auto; 
    display:block;
    float: left;
}
