// bower:scss
// endbower

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #266965;
    height: 100%;
    margin: 0;

}
.container { 
    width: 930px;
    height: 445px;

    overflow: scroll;
    margin:auto; 
    display:block;

    background: url('../images/canvas-wall.png') no-repeat center center;
    background-size: cover;
}

.detail-container {
    width: 930px;
    height: 360px;

    padding-top: 8px;
    top: 0;
    margin:auto; 
    display:block;

    background: url('../images/paisley-wall.png') no-repeat center center;
    background-size: cover;
}

.detail-img {
    height: 300px;
    border-radius: 4px;
    margin:auto; 
    display:block;
}

.thumb-img {
    width: 151px;
    border-radius: 4px;
    margin: 1px 2px 2px 1px;
    /*margin:auto; 
    display:block;*/

}

.thumb-bound {
    width: 155px;
    height: 84px;
    overflow: hidden;
    margin:auto; 
    display:block;
    float: left;

}
.pic-info {
    color: white;
    font-style: italic;
    margin: auto;
    display: b;
    text-align: center;
    a{
    text-decoration: none;
    color: white;
    }
}
